.gripe-item {
  background: var(--overlay-background-color);
  border-radius: 10px;
  margin: 10px 0;
  padding: 4px 10px;
}

.gripe-item p {
  margin: 4px 0;
}

.gripe-users-name {
  font-weight: 700;
}

.gripe-users-gripe {
  font-size: var(--body-font-size-s);
}